* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
    color: #001C5E;
    font-size: 16px;
    font-weight: bold;
}

p, li {
    font-size: 0.9em;
}

.navbar {
    background-color: #001C5E;
}

.nav-item a {
    font-size: 14px;
    color: #FFF;
    position: relative;
    padding-bottom: 8px;
}

.nav-item a:before, .nav-item a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0; right: 0;
    height: 2px;
    background-color: rgb(36, 150, 202);
}

.nav-item a:before {
    opacity: 0;
    transform: translateY(- 8px);
    transition: transform 0s ease-out, opacity 0s;
}

.nav-item a:after {
    opacity: 0;
    transform: translateY(8px/2);
    transition: transform 0.3s ease-out, opacity 0.3s;
}

.nav-item a:hover:before, .nav-item a:hover:after, .nav-item a:focus:before, .nav-item a:focus:after {
    opacity: 1;
    transform: translateY(8px);
}

.nav-item a:hover:before, .nav-item a:focus:before {
    transition: transform 0.3s ease-out, opacity 0.3s;
}

.nav-item a:hover:after, .nav-item a:focus:after {
    transition: transform 0s 0.3s ease-out, opacity 0s 0.3s;
}

.banner {
    height: 40em;
    background-image: url(img/office-1209640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5em;
}

.banner h4 {
    color: #001C5E;
    font-weight: bold;
}

.banner button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    width: 180px;
    height: 35px;
    transition-duration: 0.4s;
    transition-property: color, rgb(36, 150, 202);
}

.banner button:hover, .banner button:focus, .banner button:active {
    background-color: rgb(36, 150, 202);
    color: #FFF;
    border: rgb(36, 150, 202);
}

.banner .contato-btn {
    color: #FFF;
    background-color: #001C5E;
    border: none;
}

.banner .saiba-btn {
    color: #001C5E;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 2px #001C5E;
}

.divisor {
    height: 150px;
    width: 100%;
    color: #FFF;
    font-weight: bold;
}

.servicos {
    background-image: url(img/write-593333.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(40%);
}

.caixa {
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.55);;
}

.clientes {
    background-image: url(img/agreement-3489902.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(40%);
}

.carousel {
    height: 30vh;
}

.carousel img {
    height: 60px;
    width: auto;
    max-width: 220px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 60px;
  background-size: 100%, 100%;
  background-color: #2E2E2E;
  padding: 1em;
}

.contato {
    background-image: url(img/rafael-de-nadai-b0eg-PYGICQ-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
}

.foto {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: url("Imagem 1.jpg");
    overflow: hidden;
    background-position: center;
}

.contato p, .contato strong {
    color: #FFF;
    font-size: 1em;
}

footer {
    background-color: #2E2E2E;
    color: #FFF;
}

footer p {
    font-size: 1em;
}

footer i {
    font-size: 32px;
}

.float{
	position: fixed;
	width: 80px;
	height: 80px;
	bottom: 50px;
	right: 50px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50%;
    font-size: 42px;
	box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.4);
    z-index: 100;
}